/* ========= google fonts ======= */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* common style  */
html{
    font-family: 'Lato', sans-serif;
}

/* ====== fixed daisyUI banner flex problem === */
.carousel-item {
    display: block;
}
/* ========== responsive menu position fixed ======= */
.dropdown .dropdown-content {
    position: absolute;
    right: 0;
}
@media screen and (max-width:576px) {
    /* ======= banner button position fixing ======= */
    .right-5 {
        right: 0.25rem !important;
    }
    .left-5 {
        left: 0.25rem !important;
    }
}